tr, td, img {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

img {
    display: block;
}

table {
    border-collapse: collapse;
    border: 10px solid black;
}

body {
    width: 670px;
    margin: auto;
}

h1 {
    text-align: center;
}
