tr, td, img {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

img {
    display: block;
    width: 40px;
    height: auto;
}

table {
    border-collapse: collapse;
    border: 10px solid black;
}

body {
    text-align: center;
}

h1 {
    text-align: center;
}

#board {
    display: inline-block;
}
